.breadcrumbs_sect {
    padding: 3em 0;
    position: relative;
    z-index: 1;
}
.breadcrumbs_sect .row1 {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: -0.25em -0.5em;
    padding: 0;
}
.breadcrumbs_sect .row1 li {
    margin: 0.25em 0.5em;
}
.breadcrumbs_sect .row1 li a {
    position: relative;
    display: block;
    color: inherit;
    text-decoration: underline;
    transition: 0.3s;
}
.breadcrumbs_sect .row1 li a:after {
    content: '/';
    margin: 0 0 0 1em;
    text-decoration: none;
    display: inline-block;
}
.breadcrumbs_sect .row1 li a:hover {
    color: #0055C9;
}
.breadcrumbs_sect .row1 li.active {
    color: #0055C9;
}
@media(max-width: 1199px) {
    .breadcrumbs_sect {
        padding: 2em 0;
    }
}
@media(max-width: 767px) {
    .breadcrumbs_sect {
        padding: 1.5em 0;
        font-size: 0.875em;
    }
}